<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="authoria-test">
                <img src="{{ url_for('static', filename='images/Authoria.png')
                    }}">
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/search.png') }}" />
                <input placeholder="Input Author Description" id="text-description" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(author, genres, rating) {
            return `<div class=''>
                <h3 class='author-name'>${author}</h3>
                <p class='author-tags'>${genres}</p>
                <p class='author-tags'>${rating}</p>
            </div>`
        }

        function sendFocus() {
            document.getElementById('text-description').focus()
        }

        // function filterText() {
        //     document.getElementById("answer-box").innerHTML = ""
        //     console.log(document.getElementById("text-description").value)
        //     fetch("/query?" + new URLSearchParams({ title: document.getElementById("text-description").value }).toString())
        //         .then((response) => response.json())
        //         .then((data) => data.forEach(row => {

        //             let tempDiv = document.createElement("div")
        //             tempDiv.innerHTML = answerBoxTemplate("result", "description")
        //             document.getElementById("answer-box").appendChild(tempDiv)
        //         }));

        // }

        function filterText(event) {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("text-description").value)
            fetch("/query?" + new URLSearchParams({
                description: document.getElementById("text-description").value
            }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.author,
                        row.genre, row.rating)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }

    </script>
</body>