<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="authoria-test">
                <img src="{{ url_for('static', filename='images/Authoria.png')
                    }}">
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/search.png') }}" />
                <input placeholder="Input Author Description" id="text-description" onkeyup="filterText()">
            </div>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(author, authorDesc, rating, genres) {
            return `<div class=''>
                <h3 class='author-name'>${author}</h3>
                <p class='author-tags'>${authorDesc}</p>
                <p class='author-tags'> Genres: ${genres}</p>
                <p class='author-tags'> Popularity Score: ${rating}</p>
                // <button class="rate" style="font-size:50px; color:#7bbf54; background-color:transparent; border:0px" onclick='rocchio_plus("` + id + `")'>
                //     <i class="fa fa-thumbs-up"></i></button>
                // <button class="rate" style="font-size:50px; color:#da6d7d; background-color:transparent; border:0px" onclick='rocchio_minus("` + id + `")'>
                //     <i class="fa fa-thumbs-down"></i></button>
            </div>`
        }

        function sendFocus() {
            document.getElementById('text-description').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/query?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {

                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.title, row.descr)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

        // function filterText(event) {
        //     document.getElementById("answer-box").innerHTML = ""

        //     fetch("/query?" + new URLSearchParams({
        //         description: document.getElementById("text-description").value
        //     }).toString())
        //         .then((response) => response.json())
        //         .then((data) => data.forEach(row => {
        //             let tempDiv = document.createElement("div")
        //             tempDiv.innerHTML = answerBoxTemplate(row.author, row.description, row.rating, row.genres)
        //             document.getElementById("answer-box").appendChild(tempDiv)
        //         }));
        // }

    </script>
</body>