<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="authoria-test">
                <img src="{{ url_for('static', filename='images/Authoria.png')
                    }}">
                <h3 class='author-name'>Matching your search to an author you might like</h3>
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/search.png') }}" />
                <input type="search" placeholder="Input Author Description" id="text-description" onsearch="handleInputChange()">
            </div>
            <div>
                <input class="button-unclicked" onclick="handleButtonClick()" type="button" value="Search" id="myButton1"></input>
            </div>
        </div>
        <div id="filter"></div>
        <div id="answer-box">

        </div>
    </div>

    <script>
        function handleButtonClick() {
            var button = document.getElementById('myButton1');
            button.value = 'Loading...';
            button.classList.replace("button-unclicked", "button-clicked")
            filterText();
        }

        function filterText(event) {
            document.getElementById("answer-box").innerHTML = "";
            console.log(document.getElementById("text-description").value);
            fetch("/query_rel?" + new URLSearchParams({
                    description: document.getElementById("text-description").value
                }).toString())
                    .then((response) => response.json())
                    .then((data) => {
                        data.forEach(row => {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate(row.author, row.titles,
                                row.genres, row.rating, row.score, row.common, row.feature_title, row.feature_descrip);
                            document.getElementById("answer-box").appendChild(tempDiv);
                        });
                        var button = document.getElementById('myButton1');
                        button.value = 'Loaded';
                    });
        }

        function handleInputChange() {
            var button = document.getElementById('myButton1');
            var inputText = document.getElementById('text-description').value;
            if (inputText.trim() !== '') {
                button.value = 'Loading...';
                button.classList.replace("button-unclicked", "button-clicked")
                filterText()
            } else {
                button.value = 'Search';
                button.classList.replace("button-clicked", "button-unclicked")
            }
        }

        function answerBoxTemplate(author, titlelst, genres, rating, score, common, feature_title, feature_descrip) {
            return `<div class=''>
                <h3 class='author-name'>${author}</h3>
                <p class='author-tags'> Titles: ${titlelst}</h3>
                <div class = "featured-book-box">
                    <h4> ${author}'s book that best matches your query is ${feature_title}</h4>
                    <p> Book Description: ${feature_descrip}</p>
                </div>
                <p class='author-tags'> Genres/Themes: ${genres}</p>
                <p class='author-tags'> Average Rating: ${rating}</p>
                <p class='author-tags'> Similarity Score: ${score}
                <p class='author-tags'> Category Words Detected with your Query: ${common}
            </div>`
        }

        function sendFocus() {
            document.getElementById('text-description').focus()
        }

    </script>
</body>